.header {
  margin: 32px 40px 28px;
  display: flex;
  font-family: "CabinetGrotesk", Georgia, serif;
  font-weight: 700;
}
.header__logo {
  width: 89px;
  height: 40px;
  color: #000;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  font-family: "CabinetGroteskBold", Georgia, serif;
  text-decoration: none;
}

.header__dateLoc {
  font-weight: 700;
  font-family: "CabinetGroteskBold", Georgia, serif;
  font-size: 20px;
  line-height: 24px;
  padding: 11px 24px 5px;
}

.header__group {
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  font-family: "CabinetGrotesk", Georgia, serif;
  position: absolute;
  right: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  gap: 20px;
}

.header__button {
  width: 135px;
  height: 24px;
  margin-right: 20px;
  padding: 0;
  border: none;
  letter-spacing: 0;
  font-family: "CabinetGrotesk", Georgia, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header__signUp {
  margin: 0;
  width: 100%;
  text-wrap: nowrap;
}

.header__signIn {
  margin: 0;
  width: 100%;
}

.header__profile-pic {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  right: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.header__link {
  text-decoration: none;
  color: inherit;
  line-height: 100%;
}
