@import url(./blocks/Header.css);
@import url(./blocks/weatherCard.css);
@import url(./blocks/error.css);
@import url(./blocks/App.css);
@font-face {
  font-family: "CabinetGrotesk";
  src: url(./vendor/CabinetGrotesk-Regular.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "CabinetGroteskBold";
  src: url(./vendor/CabinetGrotesk-Bold.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "CabinetGroteskThin";
  src: url(./vendor/CabinetGrotesk-Thin.otf) format("opentype");
}
